# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Model ML (sudah di-include agar Railway bisa load model)
# backend/model/*.pkl  ← dihapus, file pkl harus ada di GitHub untuk Railway
backend/uploads/


# Node
frontend/node_modules/
frontend/.env.local
frontend/build/

# Dataset
dataset/
ml/model/

# OS
.DS_Store
Thumbs.db